@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProjectEdna.Pages.SampleDataModel
@{
    ViewBag.Lat = Model.GPSLatitude;
    ViewBag.Long = Model.GPSLongitude;
    ViewBag.Date = Model.GPSDate;
    var user = await UserManager.GetUserAsync(User);


}
@using ProjectEdna.Model



<div class="hero">

    <div class="container">




        <div class="form-group row p-2 m-3 offset-4">
            <div class="form-group col-md-4">
                <img class="imageThumbnail" src="~/images/@Model.ImageFileName" asp-append-version="true" style="width: 21rem; " />

            </div>
            <div class="form-group col-md-4">

                <img class="imageThumbnail" src="~/QRimages/@Model.QRFileName" asp-append-version="true" style="width: 21rem; " />
            </div>

            <div class="form-group col-md-4" id="map"></div>
        </div>



        <form method="post" enctype="multipart/form-data">


            <div class="form-group row" hidden>
                <label asp-for="ImageModel.ID" class="col-sm-2 col-form-label">
                </label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.ID" class="form-control" name="id">
                    <span asp-validation-for="ImageModel.ID" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="ImageModel.Project" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Project" class="form-control" placeholder="Projekt Namn" name="project" readonly>
                    <span asp-validation-for="ImageModel.Project" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row" hidden>
                <label asp-for="ImageModel.ProjectId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.ProjectId" class="form-control" placeholder="Projekt Namn" name="projectid" readonly>
                    <span asp-validation-for="ImageModel.ProjectId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.TestID" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.TestID" class="form-control" placeholder="SL 11" name="testid" readonly>
                    <span asp-validation-for="ImageModel.TestID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.Date" class="col-sm-2 col-form-label">
                </label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Date" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" name="date">
                    <span asp-validation-for="ImageModel.Date" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.Temperature" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Temperature" class="form-control" placeholder="2.5" name="temperature">
                    <span asp-validation-for="ImageModel.Temperature" class="text-danger"></span>
                </div>
            </div>





            <div class="form-group row">
                <label asp-for="ImageModel.Latitude" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Latitude" class="form-control" placeholder="Kordinat Lat" name="gpslat">
                    <span asp-validation-for="ImageModel.Latitude" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.Longitude" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Longitude" class="form-control" placeholder="Kordinat Long" name="gpslong">
                    <span asp-validation-for="ImageModel.Longitude" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row" hidden>
                <label asp-for="ImageModel.Altitude" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Altitude" class="form-control" placeholder="Kordinat Long" name="gpsalt">
                    <span asp-validation-for="ImageModel.Altitude" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="ImageModel.Material" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Material" class="form-control" placeholder="Snö/Lera etc" name="material">
                    <span asp-validation-for="ImageModel.Material" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.Snow" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="ImageModel.Snow" class="custom-select mr-sm-2" name="snow"
                            asp-items="Html.GetEnumSelectList<Snow>()">
                        <option value="">Välj ett Alternativ</option>
                    </select>
                </div>
            </div>



            <div class="form-group row">
                <label asp-for="ImageModel.AmountOfTracksCollected" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.AmountOfTracksCollected" class="form-control" placeholder="Antal" name="tracks">
                    <span asp-validation-for="ImageModel.AmountOfTracksCollected" class="text-danger"></span>
                </div>
            </div>







            <div class="form-group row">
                <label asp-for="ImageModel.AnimalKind" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.AnimalKind" class="form-control" placeholder="Björn" name="animalkind">
                    <span asp-validation-for="ImageModel.AnimalKind" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.Gender" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="ImageModel.Gender" class="custom-select mr-sm-2" name="gender"
                            asp-items="Html.GetEnumSelectList<Gender>()">
                        <option value="">Välj ett Alternativ</option>
                    </select>
                </div>
            </div>




            <div class="form-group row">
                <label asp-for="ImageModel.TrackAge" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.TrackAge" class="form-control" placeholder="36h" name="trackage">
                    <span asp-validation-for="ImageModel.TrackAge" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="ImageModel.CollectedBy" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.CollectedBy" class="form-control" placeholder="Insamlad av" name="collectedby">
                    <span asp-validation-for="ImageModel.CollectedBy" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ImageModel.Comment" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="ImageModel.Comment" class="form-control" placeholder="Kommentar" rows="4" name="comment"></textarea>
                    <span asp-validation-for="ImageModel.Comment" class="text-danger"></span>
                </div>
            </div>


            <div hidden class="form-group row">
                <label asp-for="ImageModel.Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.Image" class="form-control">
                    <span asp-validation-for="ImageModel.Image" class="text-danger"></span>
                </div>
            </div>


            <div hidden class="form-group row">
                <label asp-for="ImageModel.QRCode" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ImageModel.QRCode" class="form-control">
                    <span asp-validation-for="ImageModel.QRCode" class="text-danger"></span>
                </div>
            </div>

















            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save data</button>

                </div>
            </div>


        </form>
    </div>

</div>





<script>
                        // Initialize and add the map
                        function initMap() {
                            const latLng = { lat: @Html.Raw(Json.Serialize(ViewBag.Lat)), lng: @Html.Raw(Json.Serialize(ViewBag.Long)) };
                            const map = new google.maps.Map(document.getElementById("map"), {
                                zoom: 8,
                                center: latLng,
                            });
                            const marker = new google.maps.Marker({
                                position: latLng,
                                map: map,
                            });
                        };
</script>

<!--The div element for the map -->
<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByF9cwgDuXKELK-Yb2vEWQi4Fvi7TgVNc&callback=initMap&libraries=&v=weekly"
        async></script>